# ── Copier ce fichier en .env et adapter les valeurs ──────────────
# cp .env.example .env

# Django
SECRET_KEY=changez-moi-en-production-utilisez-une-chaine-aleatoire-longue
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,votre-domaine.ci

# Base de données PostgreSQL
DB_NAME=dsi_itsm
DB_USER=dsi_itsm_user
DB_PASSWORD=mot_de_passe_securise
DB_HOST=localhost
DB_PORT=5432

# Email (production — exemple SMTP)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp.votre-serveur.ci
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=noreply@dsi.ci
EMAIL_HOST_PASSWORD=mot_de_passe_email
DEFAULT_FROM_EMAIL=DSI ITSM <noreply@dsi.ci>

# Timezone
TIME_ZONE=Africa/Abidjan
